{% extends 'base.html.twig' %}

{% block title %}editer declaration{% endblock %}

{% block body %}
    <div class="wrapper">
        
        {# ------------------------SIDEBAR---------------------------------- #}
            {{ include('include/sidebar.html.twig') }}
        {# ------------------------FIN SIDEBAR---------------------------------- #}

        {# ------------------------CONTENU---------------------------------- #}
        <div class="content-wrapper">

            <section class="content-header">
                <h1 align="center">
                    Editer un déclaration
                </h1>
            </section>

            <div class="content">
                {{ form_start(formDeclaration) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_widget(formDeclaration) }}
                            {# {{ form_row(formDeclaration.mobiliers,{'label' : "Mobilier"}) }}
                            {{ form_row(formDeclaration.prix,{'label' : "Prix"}) }} #}
                        </div>     
                    </div>

                    <button type="submit" class="btn btn-success">Modifier</button>
                    <a class="btn btn-secondary" href="{{ path('declaration_index') }}" role="button">Retour</a>
                {{ form_end(formDeclaration) }} 
            </div>
        </div>
        {# ------------------------FIN CONTENU---------------------------------- #}
    </div>
    {{ include('include/footer.html.twig') }}
{% endblock %}

